<?xml version="1.0" encoding="utf-8" ?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="The project's test suite">
            <directory suffix="_test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">tests</directory>
        <exclude>
          <directory suffix=".php">vendor</directory>
        </exclude>
      </whitelist>
    </filter>
    <logging>
      <!-- <log type="coverage&#45;html" target="./coverage" lowUpperBound="35" highLowerBound="70"/> -->
      <!-- <log type="coverage&#45;text" target="php://stdout" showUncoveredFiles="false"/> -->
    </logging>
</phpunit>
